<div *ngIf="showEmptyState; else dashboard">
  <button class="btn btn-outline">
    <a routerLink="/setup"
      >No Survey data found. Please add Survey data here
    </a>
  </button>
</div>

<ng-template #dashboard>
  <div class="container mx-auto">
    <div class="stats my-4 w-full shadow">
      <div class="stat">
        <div class="stat-title">Number of respondents</div>
        <div class="stat-value">{{ countOfRecords }}</div>
      </div>
      <div class="stat">
        <div class="stat-title">Last response</div>
        <div class="stat-value">{{ timeSinceLastInsert }}</div>
      </div>
    </div>
    <div class="doughnut-charts mt-12 grid grid-cols-4 w-100 items-center">
      <div class="col-span-full prose prose-2xl">Traditional Ratios</div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Activist/Reflector</span>
        <canvas
          baseChart
          [labels]="traditionalActivistReflectorDonutChart.labels"
          [datasets]="traditionalActivistReflectorDonutChart.datasets"
          [options]="traditionalActivistReflectorDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Sensing/Intuitive</span>
        <canvas
          baseChart
          [labels]="traditionalSensingIntuitiveDonutChart.labels"
          [datasets]="traditionalSensingIntuitiveDonutChart.datasets"
          [options]="traditionalSensingIntuitiveDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Sequential/Global</span>
        <canvas
          baseChart
          [labels]="traditionalSequentialGlobalDonutChart.labels"
          [datasets]="traditionalSequentialGlobalDonutChart.datasets"
          [options]="traditionalSequentialGlobalDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Visual/Verbal</span>
        <canvas
          baseChart
          [labels]="traditionalVisualVerbalDonutChart.labels"
          [datasets]="traditionalVisualVerbalDonutChart.datasets"
          [options]="traditionalVisualVerbalDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="mt-12 col-span-full prose prose-2xl">Online Ratios</div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Activist/Reflector</span>
        <canvas
          baseChart
          [labels]="onlineActivistReflectorDonutChart.labels"
          [datasets]="onlineActivistReflectorDonutChart.datasets"
          [options]="onlineActivistReflectorDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Sensing/Intuitive</span>
        <canvas
          baseChart
          [labels]="onlineSensingIntuitiveDonutChart.labels"
          [datasets]="onlineSensingIntuitiveDonutChart.datasets"
          [options]="onlineSensingIntuitiveDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Sequential/Global</span>
        <canvas
          baseChart
          [labels]="onlineSequentialGlobalDonutChart.labels"
          [datasets]="onlineSequentialGlobalDonutChart.datasets"
          [options]="onlineSequentialGlobalDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
      <div class="chart m-auto my-4 text-center">
        <span class="prose prose-xl">Visual/Verbal</span>
        <canvas
          baseChart
          [labels]="onlineVisualVerbalDonutChart.labels"
          [datasets]="onlineVisualVerbalDonutChart.datasets"
          [options]="onlineVisualVerbalDonutChart.options"
          [legend]="true"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
    </div>
    <div class="bar-charts grid grid-cols-2 place-items-center mt-20 w-full">
      <span class="col-start-1 col-end-2 row-start-1 row-end-2 prose prose-xl"
        >Traditional Comparison</span
      >
      <canvas
        class="col-start-1 col-end-2 row-start-2 row-end-3 h-60"
        baseChart
        [labels]="traditionalBarChart.labels"
        [datasets]="traditionalBarChart.datasets"
        [options]="traditionalBarChart.options"
        [legend]="false"
        [type]="'bar'"
      >
      </canvas>
      <span class="col-start-2 col-end-3 row-start-1 row-end-2 prose prose-xl"
        >Online Comparison</span
      >
      <canvas
        class="col-start-2 col-end-3 row-start-2 row-end-3 h-60"
        baseChart
        [labels]="traditionalBarChart.labels"
        [datasets]="traditionalBarChart.datasets"
        [options]="traditionalBarChart.options"
        [legend]="false"
        [type]="'bar'"
      >
      </canvas>
    </div>
    <div class="prose prose-2xl mt-20">Raw Data</div>
    <table class="table my-4 table-zebra w-full">
      <thead>
        <tr>
          <th rowspan="2">Number</th>
          <th colspan="2">Activist/Reflector</th>
          <th colspan="2">Sensing/Intuitive</th>
          <th colspan="2">Sequential/Global</th>
          <th colspan="2">Visual/Verbal</th>
        </tr>
        <tr>
          <th>Traditional</th>
          <th>Online</th>
          <th>Traditional</th>
          <th>Online</th>
          <th>Traditional</th>
          <th>Online</th>
          <th>Traditional</th>
          <th>Online</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentsScore">
          <td>{{ student.name }}</td>
          <td>{{ student.traditionalActivistReflectorScore }}</td>
          <td>{{ student.onlineActivistReflectorScore }}</td>
          <td>{{ student.traditionalSensingIntuitiveScore }}</td>
          <td>{{ student.onlineSensingIntuitiveScore }}</td>
          <td>{{ student.traditionalSequentialGlobalScore }}</td>
          <td>{{ student.onlineSequentialGlobalScore }}</td>
          <td>{{ student.traditionalVisualVerbalScore }}</td>
          <td>{{ student.onlineVisualVerbalScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
